body {
    background-color: rgb(125, 194, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    position: relative; /* Добавлено для позиционирования кнопки "Вернуться" */
}

form {
    background-color: #fff;
    padding: 30px; /* Увеличено */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%; /* Уменьшено на 10% */
}

form div {
    margin-bottom: 25px; /* Увеличено */
}

form label {
    display: block;
    margin-bottom: 10px; /* Увеличено */
}

form input[type="text"],
form input[type="password"] {
    width: 90%; /* Уменьшено на 10% */
    padding: 15px; /* Увеличено */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px; /* Увеличено */
}

form input[type="submit"] {
    width: 100%;
    padding: 15px; /* Увеличено */
    border: none;
    border-radius: 5px;
    background-color: #ff003b;
    color: #fff;
    font-size: 20px; /* Увеличено */
    cursor: pointer;
    transition: background-color .3s;
}

form input[type="submit"]:hover {
    background-color: #ff4d6b;
}

.back-button {
    position: absolute;
    top: 15px; /* Увеличено */
    left: 15px; /* Увеличено */
    padding: 15px 25px; /* Увеличено */
    background-color: #ff003b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px; /* Увеличено */
    transition: background-color .3s;
    display: flex; /* Добавлено для выравнивания текста и стрелки */
    align-items: center; /* Добавлено для выравнивания текста и стрелки */
}

.back-button::before {
    content: "←"; /* Добавлена стрелка */
    margin-right: 10px; /* Увеличено */
}

.back-button:hover {
    background-color: #ff4d6b;
}
